/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #2A385D;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #e5e5e5;
  border-top-color: #2A385D;
  border-bottom-color: #2A385D;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

body {
    font-family: Helvetica, sans-serif;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
}

.blue {
    color: #0082BE;
    cursor: pointer;
}

.padding-left {
    padding-left: 100px;
}

.icon-white {
    color: inherit;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.owl-nav {
    display: flex;
    justify-content: center;
}
.owl-prev, .owl-next {
    margin: 0 5px;
}
.owl-prev span, .owl-next span {
    font-size: 30px;
    color: #0082BE;
    font-family: Helvetica, sans-serif;
}
.owl-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.owl-dots span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #D6D8D7 !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.owl-carousel .active span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #0082BE !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.foot-link {
    cursor: pointer;
}
.foot-link:hover {
    text-decoration: underline;
}
.blue:hover {
    text-decoration: underline;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100%;
    height: 110px;
    padding: 0 15px;
    transition: all 0.5s ease;
}
#header ul li {
    display: inline-block;
    color: #d8d8d8;
    margin: 0 5px;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 12px;
}
#header ul li:hover {
    background: #b4b8c5;
    color: #2A385D;
    opacity: 80%;
}

#header ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#logo {
    width: 250px;
}

#header ul li a {
    display: flex;
    align-items: center;
}
#header ul li a i {
    position: relative;
    bottom: 2px;
    padding-left: 5px;
}

@media only screen and (max-width: 1000px) {
    .hideable {
        display: none !important;
    }
}
@media only screen and (max-width: 460px) {
    #logo {
        width: 200px;
    }
}
@media only screen and (max-width: 410px) {
    #logo {
        width: 150px;
    }
}
@media only screen and (max-width: 340px) {
    #logo {
        width: 120px;
    }
    #header ul li {
        font-size: 15px;
    }
    #header {
        padding: 0;
    }
}

    /*------------------------
    # Menu Toggle
    ------------------------*/
    #openSidebarMenu:checked ~ #side-bar {
        transform: translateX(0);
    }

    #openSidebarMenu {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }

    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 101;
        height: 100%;
        width: 100%;
        top: 85px;
        left: 20px;
        height: 22px;
        width: 22px;
    }

    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #d8d8d8;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg) !important;
        margin-top: 8px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg) !important;
        margin-top: -9px;
    }

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 420px;
    background: #FFFFFF;
    z-index: 9500;
    padding: 20px;
    transform: translateX(430px);
    transition: all 1s ease;
}
.section {
    width: 100%;
    color: #2A385D;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.section:hover {
    color: #0082BE;
}
#side-bar-x {
    justify-self: end;
    font-size: 50px;
    cursor: pointer;
    color: #2A385D;
    margin-bottom: 30px;
}
#side-bar-x:hover {
    color: #0082BE;
}
@media only screen and (max-width: 450px) {
    #sidebar {
        width: 300px;
        transform: translateX(300px);
    }
}
/*--------------------------------------------------------------
# Title
--------------------------------------------------------------*/
#title {
    background: url('../img/60937474_ink-water_LR_invert.png') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 200px;
}

#title h1 {
    color: #d8d8d8;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 25px;
    line-height: 60px;
    padding: 0;
}
#title h2 {
    color: #8CC3E7;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 26px;
    line-height: 35px;
    padding: 0;
}

#scroll-down {
    position: absolute;
    bottom: 0;
    outline: none;
    border: none;
    width: 80px;
    height: 60px;
    background: #0082BE;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 60px;
}
#scroll-down img {
    max-height: 40%;
    max-width: 40%;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
    background: #FFFFFF;
    width: 100%;
    padding-top: 70px;
}

#services h1 {
    font-size: 40px;
    color: #2A385D;
}

#services p {
    font-size: 18px;
    color: #15284B;
}

#services-heading {
    margin-bottom: 50px;
}

    /*-------------------------
    # Services info
    -------------------------*/

    .services-info {
        background: #D6D8D7;
        width: 100%;
        height: 335px;
        padding: 40px 60px;
        text-align: center;
        margin: 0;
        margin-bottom: 50px;
    }
    #services button {
        background: #0082BE;
        color: #FFFFFF;
        font-weight: 200;
        padding: 10px;
        width: 100%;
        height: 60px;
        font-size: 20px;
        letter-spacing: 1px;
        box-shadow: 2px 2px 4px #5F676F;
    }
    #services h2 {
        font-size: 30px;
        color: #2A385D;
    }
    .services-info p {
        font-size: 20px;
        color: #2A385D;
    }
    #services img {
        width: 100%;
        transition: all 1s ease;
    }
    #consulting-img, #technology-img {
        overflow: hidden;
    }
    @media only screen and (max-width: 990px) {
        .services-info {
            padding: 20px 25px;
            height: 300px;
        }
    }
    /*-------------------------
    # M-Global
    -------------------------*/

    #m-global {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #m-global-img {
        background: url('../img/Fotolia_189945_Subscription_XL.png');
        background-size: cover;
        padding: 35px;
        min-height: 200px;
    }
    #m-global-img img {
        width: 100%;
    }

    #m-global-info {
        background: #D6D8D7;
        padding: 50px;
    }
    #m-global-info button {
        padding: 5px 20px;
        width: auto;
        height: 50px;
    }
    #m-global-info p {
        font-size: 18px;
        color: #5F676F;
    }

    @media only screen and (max-width: 990px) {
        #m-global-info {
            padding: 25px;
        }
    }
    @media only screen and (max-width: 990px) {
        #m-global-info button {
            font-size: 15px;
        }
    }

    /*-----------------------------
    # Software dev & project manag
    -----------------------------*/
    #sd-pm {
    }

    #software-development {
        background: url('../img/software-development.png') no-repeat;
        background-size: cover;
        background-origin: content-box;
        background-clip: content-box;
        margin-bottom: 50px;
        height: 350px;
    }

    #project-management {
        background: url('../img/project-management.png') no-repeat;
        background-size: cover;
        background-origin: content-box;
        background-clip: content-box;
        margin-bottom: 50px;
        height: 350px;
    }

    #sd-pm button {
        width: 70%;
        margin-top: 50px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    @media only screen and (max-width: 990px) {
        #software-development, #project-management {
            height: 250px;
        }
        #sd-pm button {
            font-size: 15px;
            padding: 15px 5px;
            height: auto;
            width: 80%;
        }
    }
    @media only screen and (max-width: 765px) {
        #software-development, #project-management {
            height: 300px;
        }
        #sd-pm button {
            width: 70%;
        }
        
    }

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

#clients h2 {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

#clients img {
    width: 100%;
}

.client-img {
    padding: 40px;
}

#carphone {
    padding: 70px;
}

#clients .row {
    padding: 0 30px;
}

/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/
#posts {
    background: #FFFFFF;
    padding-top: 70px;
}

.post {
    background: #D6D8D7;
    margin-bottom: 50px;
    padding: 30px;
    width: 100%;
}
.post img {
    margin-bottom: 20px;
    transition: all 1s ease;
}
.post h1 {
    font-size: 18px;
    color: #5F676F;
    margin-bottom: 20px;
}
.post h2 {
    font-size: 18px;
    color: #2A385D;
    margin-bottom: 20px;
    min-height: 62px;
}
.post p {
    font-size: 18px;
    color: #5F676F;
    margin-bottom: 70px;
}
.post h3 {
    font-size: 22px;
    color: #2A385D;
    border-bottom: 2px solid #8CC3E7;
    display: inline;
    padding-bottom: 5px;
    cursor: pointer;
}
.post h3:hover {
    color: #8CC3E7;
}
.post-img-wrapper {
    overflow: hidden;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 765px) {
    .post {
        padding: 40px 50px;
    }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

#testimonials {
    margin-bottom: 50px;
}

.testimony h1 {
    font-size: 18px;
    color: #2A385D;
    margin-bottom: 30px;
}
.testimony p {
    font-size: 18px;
    color: #5F676F;
}
.testimony {
    padding: 10px;
}
#carousel-controls {
    padding: none;
}
#carousel-controls button {
    background: none;
    font-size: 18px;
    color: #5F676F;
    margin-right: 30px;
}
#testimonial-carousel {
    overflow: hidden;
}
i {
    font-size: 30px;
    color: #0082BE;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 765px) {
     #testimonials-img {
        margin-bottom: 30px;
    }
}

/*--------------------------------------------------------------
# Email Us
--------------------------------------------------------------*/

#email-us {
    background: #0082BE;
    padding: 40px 210px 40px 150px;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}
#email-us p {
    padding: 0;
    padding-right: 15px;
    margin: 0;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 200;
}
#email-us button {
    border: solid 2px white;
    background: #0082BE;
    color: white;
    width: 50px;
    height: 60px;
    font-weight: 200;
    letter-spacing: 1px;
}
@media only screen and (max-width: 990px) {
    #email-us {
        padding: 40px 0;
    }
     #email-us p {
        margin-bottom: 15px;
        text-align: center;
    }
    #email-us button {
        margin: 0 auto;
    }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    margin-bottom: 50px;
}

#footer h1 {
    font-size: 20px;
    color: #2A385D;
}
#footer p {
    font-size: 13px;
}

#footer-top {
    border-bottom: 2px solid #BEC1C0;
    padding-bottom: 50px;
}
#footer-bottom {
    padding-top: 20px;
}
#copyright {
    font-family: Helvetica;
    font-size: 14px;
    color: #5F676F;
    line-height: 25px;
    padding-left: 15px;
}

@media only screen and (max-width: 765px) {
    .padding-left {
        padding-left: 15px;
    }
}
@media only screen and (max-width: 575px) {
    #footer-top {
        display: flex;
        justify-content: center;
    }
    #footer h1, #footer p {
        text-align: center;
        margin-top: 20px;
    }
}







